/* Body */
.list {
  list-style-type: none;
}
button {
  cursor: pointer;
}
.underline {
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Body */

/* Header and the title*/
/* Logo */
.logo-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: left;
}
.first-part {
  color: #4d5ae5;
}
.second-part {
  color: #2e2f42;
}

/* Nav */
.menu-list {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: left;
}
.menu-link-special {
  color: #2e2f42;
}
.menu-link-special:hover,
.menu-link-special:active {
  color: #4d5ae5;
}
.menu-link:hover {
  color: #4d5ae5;
}
.contact-menu {
  font-family: 'Roboto', sans-serif;;
  text-align: left;
}
.contact-menu-link {
  font-style: normal;
  color: #434455;

}
.contact-menu-link:hover {
  color: #404bbf;
}

/* Nav */

/* Title and button */
.hero-title {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: #4d5ae5;
  color: #ffffff;
}
.hero-button:hover {
  background-color: #404bbf;
  color: #ffffff;
}
/* Title and button */

/* Main section */
.goals-title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  color: #2e2f42;
}

.goals-text {
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.staff-title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.staff-name {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
}

.staff-occupation {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  text-align: center;
}
/* Main section */

/* Footer */
.text-footer {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  text-align: left;
  color: #f4f4fd;
}

/* Footer */
